.terminal {
  font-family: "Courier New", Courier, monospace;
  line-height: 1.2rem;
}

#terminal-output {
  max-height: calc(100% - 1rem);
}
#terminal-output .error {
  color: #e66;
}
#terminal-output > div {
  padding-left: 1.35rem;
  vertical-align: middle;
}
#terminal-output > div::before {
  position: absolute;
  color: #aeaeae;
  left: 0.1rem;
  content: "-  ";
}
#terminal-output > .input-str {
  color: #aeaeae;
}
#terminal-output > .input-str::before {
  content: ">  ";
}

#terminal-input {
  height: 1.2rem;
  padding-left: 1.35rem;
  caret-color: transparent;
  vertical-align: middle;
}
#terminal-input::before {
  position: absolute;
  color: #aeaeae;
  left: 0.1rem;
  content: ">  ";
}
#cursor {
  position: absolute;
}
#terminal-input + #cursor {
  display: inline-block;
  content: "";
  width: 0.5rem;
  height: 1rem;
  background: transparent;
  border: 1px solid #aeaeae;
}
#terminal-input:focus + #cursor {
  background: #efefef;
  border: none;
  animation: blink 1000ms infinite;
}
#terminal-input:focus {
  outline: none;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
