.terminal {
  line-height: 1.2rem;
  width: 40rem;
  height: 30rem;
  background: #343445;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
}

.terminal > * {
  width: 100%;
}

.terminal-header {
  height: 3rem;
  background: #3e3e4e;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.window-action {
  border-radius: 100%;
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.7rem;
}

#close {
  background: #e66;
}

#minimize {
  background: #fe6;
}

#expand {
  background: #6e6;
}

#terminal-output {
  max-height: calc(100% - 1rem);
}
#terminal-output .error {
  color: #e66;
}
#terminal-output > div {
  padding-left: 1.35rem;
  vertical-align: middle;
}
#terminal-output > div::before {
  position: absolute;
  color: #aeaeae;
  left: 0.1rem;
  content: "-  ";
}

.terminal-body {
  padding: 0.5rem;
  color: #efefef;
}

#terminal-input {
  height: 1.2rem;
  padding-left: 1.35rem;
  caret-color: transparent;
  vertical-align: middle;
}
#terminal-input::before {
  position: absolute;
  color: #aeaeae;
  left: 0.1rem;
  content: ">  ";
}
#cursor {
  position: absolute;
}
#terminal-input + #cursor {
  display: inline-block;
  content: "";
  width: 0.5rem;
  height: 1rem;
  background: transparent;
  border: 1px solid #aeaeae;
}
#terminal-input:focus + #cursor {
  background: #efefef;
  border: none;
  animation: blink 1000ms infinite;
}
#terminal-input:focus {
  outline: none;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
